h2{
    color: #1c68da
}


.formulaireBox{
    display: flex;
    width: 90%;
    margin: 12px auto;
    background-color: rgb(255, 255, 255);
    min-height: 400px;
}

form{
    display: flex;
    margin: 0 auto;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: center;
    margin: auto;
    padding: 5px;
    
}

form .formInput{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-around;
    border: 2px solid;
    padding:20px;
    height: 500px;
    align-items: center;
}

form h3{
    color: #5C9DFF;
    text-align: center;
}

form .formInput div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1em;
}

form .formInput div input{
    height:25px;
    border-radius: 2px;
    outline: none;
    padding:1px 8px;
    border: 1px solid black;
}

form .formInput .photoadmin{
    position: relative;
    border: 1px solid red;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

#photoInput{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    top: 2px;
    left: 0px;
    opacity: 0;
}

form .submit{
    width: 30%;
    border: none;
    padding: 5px 0px;
    color: white;
    background: green;
    cursor: pointer;
}