h2{
    color: #1c68da
}


.formulaireBox{
    
    display: flex;
    width: 90%;
    margin: 12px auto;
    background-color: rgb(255, 255, 255);
    min-height: 400px;
    
}

form{
    border: 1px solid;
    display: flex;
    margin: 0 auto;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: center;
    margin: auto;
    padding: 20px;
}

form .formInput{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form .formInput div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1em;
}
