.contenus{
   width: 100%;
   overflow: auto;
}

.resultatBox{
    width: 90%;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    gap: 2em;
    margin: 0 auto;
}

.top{
    width: 80%;
    text-align: center;
    position: absolute;
    top: 30px;
}

.top label{
    width: 100%;
    position: relative;
}

.top input{
    outline: none;
    border: 1px solid #111;
    padding: 0px 5px;
    width: 50%;
    border-radius: 40px;
    height: 30px;
}

.top .fa{
    display: none;
    position: absolute;
    top: 4px;
    right: 0px; 
    padding-right: 20px; 
}

div.resultatEtudiant{
    max-width: 80%;
    text-align: center;
    overflow: auto;
    background-color: #fff;
    margin: 0 auto;
    max-height: 400px;
    overflow: auto;
    position: absolute;
    top: 150px;
}

table{
    max-width: 100%;
    background-color: #fff;
    margin: 0 auto;
}

table thead tr td{
    border:2px solid transparent;
    border-top-color: rgb(0, 0, 0) ;
    text-align: center;
    padding: 10px;
    font-weight: 700;
}

table tbody tr{
    box-shadow: 1px 1px 5px rgb(211, 211, 211);
}

table tbody tr:hover{
    cursor: pointer;
}

table tbody tr td:hover{
    border: 2px solid transparent;
    border-bottom-color:black ;
}

table tbody tr td{
    border-collapse:collapse;
    text-align: center;
    padding: 1em;
}

table tbody tr.user img{
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.orange , .vert, .rouge{
    text-align: center;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.orange{
    background-color: tomato;
    color: tomato;
}

.rouge{
    background-color: rgb(252, 0, 0);
    color: rgb(252, 0, 0);
}

.vert{
    background-color: green;
    color: green;
}

div.infoEtudiant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 5px;
    display: none;
    width: 100%;
    border: 1px solid black;
}

.affichebox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    gap: 1em;
}

.afficheInfo{
    background-color: white;
    max-width: 90%;
    border: 1px solid black;
    overflow: auto;
}

div.boxs{
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

div.boxs div.infoLeft{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1em;
}

div.boxs div.infoLeft div.img{
    width: 200px;
    height: 242px;
}

div.boxs div.infoRight{
    min-height: 200px;
}

div.boxs div.infoRight p.specialite{
    border-radius: 50px;
    width: 100%;
    padding: 10px 5px;
    text-align: center;
    background: silver;
    color: #5C9DFF;
}

div.boxs div.infoRight p.Appr{
    border-radius: 50px;
    width: 100%;
    padding: 10px 5px;
    text-align: center;
}

div.boxs div.infoRight{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 20px;
}

div.boxs div.infoRight .edit{
    background-color: transparent;
    position: absolute;
    right: 1px;
    top: 0px;
    font-size: 16px;
    position: absolute;
    color: #ff5c5c;
    width: 20px;
    height: 20px;
}

a.add , a.back , a.valider{
    text-align: center;
    text-decoration: none;
    color: white;
    background: #5C9DFF;
    width: 100px;
    padding: 10px 5px;
}

a.back{
    background: #209655;
}

.edit{
    border:none;
    background-color: white;
    cursor: pointer;
}

.formbox{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    width: 90%;
    background-color:white;
    margin: 0 auto;
}

#myForm{
    max-width: 90%;
    display: flex;
    justify-content: space-around;
    gap: 2em;
    padding: 10px 5px;
    background-color: white;
    border:1px solid;
}

.formbox #myForm .img{
    width: 170px;
    min-height: 100px;
    border: 1px solid;
}


.divInput{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    gap: 1em;
    
}

.formbox input{
    outline: none;
    border: 1px solid black;
    padding:10px 12px;
    border-radius: 15px;
}

.formbox .divInput .ok{
    border: none;
    color: white;
    background-color: #5C9DFF;
}