*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

div.container{
    position: relative;
    width: 100%;
}

div.naviguation
{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width: 300px;
    height: 100%;
    background-color: #5c9dff;
    transition: 0.5s;
    overflow: hidden;
}

div.boiteAdmin{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 15px;
    border-bottom: 2px solid white;
    color: #fff;
}

div.photoAdmin{
    width: 200px;
    height: 200px;
    border-radius:50%;
    background: url("alex.jpg") no-repeat bottom;
    background-size: cover;
    transition:0.5s;
}

div.naviguation ul
{
  width: 100%;
}

div.naviguation ul li
{
  position: relative; 
  width: 100%;
  list-style-type: none;
  background-color: #1c68da;
  margin: 10px 0px;
}

div.naviguation ul li:last-child
{
  position: relative; 
  width: 100%;
  list-style-type: none;
  background-color: #da1c1c;
  margin: 10px 0px;
}

div.naviguation ul li:hover{
    background-color: #3977d4;
}

div.naviguation ul li:last-child:hover
{
  position: relative; 
  width: 100%;
  list-style-type: none;
  background-color: #a00707;
  margin: 10px 0px;
}

div.naviguation ul li a
{
  position: relative; 
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}

div.naviguation ul li a span.icone
{
  position: relative; 
  display: block;
  min-width: 60px;
  height: 60px;
  line-height : 60px;
  text-align: center;
}

div.naviguation ul li a span.icone i.fa
{
  color: rgb(243, 229, 36);
  font-size:24px;
}

div.naviguation ul li a span.titre
{
  position: relative;
  display: block;
  padding:0 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}
/**/
div.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #fafafa;
    transition: 0.5s;
}

div.main div.topbar{
   width: 100%; 
   background: #fff;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 2px 0px 5px black;
   padding: 0 10px;
}

div.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #111;
}

div.naviguation.active{
    width: 60px;
}

div.photoAdmin.active{
    width: 60px;
    height: 200px;
    border-radius: 15px;
}

div.main.active{
    width: calc(100% - 60px);
    left: 60px;
}

div.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

div.search label{
    position: relative;
    width: 100%;
}

div.search label input{
    height:30px;
    outline: none;
    border: 1px solid #111;
    padding: 0px 5px;
    width: 100%;
    border-radius: 40px;
}

div.search label .fa{
    position: absolute;
    top: 4px;
    right: 0px; 
    padding-right: 20px;   
}
/**/
div.contenus{
    position: relative;
    background-color: #c2daff98;
    min-height: calc(98vh - 95px);
    margin: 30px 5px 5px 5px;
    display: flex;
    justify-content: space-around;
    padding:20px 5px ;
    max-width: 100%;
}

div.boiteEtudiant{
 position: relative;
 display: flex;
 flex-direction: column;
 width:55%;
 padding: 0px 10px;
}

div.etudiantTotal{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color:#fff;
    border-radius: 5px;
}

div.etudiantTotal span{
    display: block;
    font-size: 24px;
    text-align: center;
}

div.listeEtudiant{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 40px;
    background-color: #fff;
    padding: 15px;
    max-width:100%;
    overflow: auto;
    height: 80%;
    border-radius: 25px;
}

div.listeEtudiant .titre{
    position: sticky;
    width:100%;
    top: -30px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 10px;
}

div.listeEtudiant table{
    width:100%;
    border-collapse: collapse;
}

div.listeEtudiant table tr{
    box-shadow: 1px 0px 5px silver;
    padding: 5px;
    border-radius: 20px;
}

div.listeEtudiant table tr td{
    text-align: center;
    padding: 10px 1px;
}

div.listeEtudiant table tr:hover td{
    color: #fff;
    background: #5c9dff;
    cursor: pointer;
    transition: 0.2s;
}

div.listeEtudiant table tr:hover td:first-child{
    color: #fff;
    background: #5c9dff;
    cursor: pointer;
    transition: 0.2s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

div.listeEtudiant table tr:hover td:last-child{
    color: #fff;
    background: #5c9dff;
    cursor: pointer;
    transition: 0.2s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

div.etudiantParSpecialite{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width:40% ;
    padding: 5px;
    background: #fff;
    overflow: auto;
    
}

div.etudiantParSpecialite div{
    position: relative;
    background: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    text-shadow: 0px 1px 5px rgb(192, 192, 192);
    box-shadow: 2px 2px 5px silver;
    flex-grow: 1;
    margin: 5px;
    font-size: 12px;
}

div.etudiantParSpecialite div span{
    font-size: 20px;
    padding:10px;
}

div.etudiantParSpecialite div:hover{
    background: #1c68da;
    color: #fff;
    cursor: pointer;
}

h2{
    color: #1c68da
}
.formulaire{
    display:block;
    border: 1px solid black;
    margin: 50px;
    padding: 50px;
    text-align: center;
    width:600px;
    height: 600px;
    border-radius: 10px;
}

.info{
    position: relative;
    display: block;
    justify-content: center;
    height: 500px;
    margin: 10px;
    width: 500px;
    height: auto;
    top: 200px;
    border-radius: 10px;
    
}


.image{
    position:relative;
    width: 100px;
    height: 100px;
    background: url(pc.jpg) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    text-align: center;
    top: 80px;
    left: 200px;
    
}

button{
    color: #fff;
    background-color: green;
    width: 50px;
    height: 20px;
    margin-left: 50px;
    
}





/**/

@media screen and (max-width:850px){
    div.naviguation{
        width: 60px;
    }
    
    div.photoAdmin{
        width: 60px;
        height: 200px;
        border-radius: 15px;
    }
    
    div.main{
        width: calc(100% - 60px);
        left: 60px;
    }
}

@media screen and (max-width:600px){
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    div.contenus{
        display: flex;
        flex-direction: column;
        gap: 3em;
    }

    div.boiteEtudiant{
        width: 100%;
    }

    div.listeEtudiant{
        max-height:350px;
        position: relative;
        top: 10px;
    }

    div.listeEtudiant div.titre{
        position: relative;
        background: none;
        top: 40px;
        
    }

    div.listeEtudiant table{
        margin-top: 10px;
    }

    div.etudiantParSpecialite{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 100%;
    }
}